
@{
    ViewBag.Title = "Arizona";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1>In Arizona, abortion politics are already playing out on the Senate campaign trail</h1>
    <img height="auto" width="100%" src="~/Content/img/z.jpg" alt="">
    <div class="description">
        <p style="width: 50%; font-size: 20px; line-height: 2.2; width:70%; ">
            In October, the same month Republican Kari Lake announced her candidacy for the U.S. Senate, the Arizona Democratic Party launched The Lake Tapes.

            On social media, they post snippets of statements Lake has made in the past — everything from her false claims of stolen elections to her support of the U.S. Supreme Court's landmark decision overturning Roe v. Wade.

            "I am a hundred percent pro-life. I think the Supreme Court did a very smart thing," Lake is heard saying in the one soundbite.

            Then there's audio of Lake favoring the more extreme version of two abortion bans on the books in Arizona.

            One law bans abortions after 15 weeks.

            The other, which dates back to Arizona's first territorial legislature in the 1860s, is a near-total ban.

            "So it will prohibit abortion in Arizona, except to save the life of a mother," Lake says on tape. "And I think we're going to be paving the way and setting a course for other states to follow."
            Now, rather than leading or paving the way on abortion, Lake and other Republicans are scrambling to react to the latest fallout tied to the overturn of Roe — an Alabama court ruling that frozen embryos are considered children. The National Republican Senatorial Committee issued a memo Friday warning candidates to "clearly and concisely reject" efforts to restrict in vitro fertilization, a treatment that some clinics in Alabama have paused in the wake of the state Supreme Court ruling.

            About the same time as the memo was circulating, Lake tweeted a statement opposing restrictions to IVF.

            "In the Senate, I will advocate for increased access to fertility treatment for women struggling to get pregnant," Lake wrote on X, formerly known as Twitter. "IVF is extremely important for helping countless families experience the joy of parenthood."
            At a campaign event last week in Phoenix, Rep. Ruben Gallego, D-Ariz., told his supporters: don't buy it.

            "You can't take your chances with Kari Lake," Gallego said at a small rally at a Phoenix bar.

            Gallego points to the Alabama Supreme Court ruling as the latest example of Republicans, like Lake, claiming to support reproductive freedoms. But their actions — like the Senate's appointment of three U.S. Supreme Court justices who voted to overturn Roe v. Wade under former President Donald Trump — don't match the rhetoric, Gallego said.
            "When she says, 'I'm not for this, I am for this now,' how can you choose someone who only months ago was saying it's OK to arrest providers of abortion care?" Gallego asked.

            On abortion, Lake has softened her tone.

            During her failed gubernatorial campaign in 2022, Lake said she supported the overturning of Roe v. Wade because she viewed abortion as an issue of state's rights. Since launching her Senate candidacy, Lake often brings up the issue by speaking about supporting pregnant women in a way that encourages them to conceive, rather than have an abortion. And if elected to the Senate, Lake says she'd vote against a federal abortion ban.

            Lake could not be reached for comment on her position on abortion. She made no mention of the issue during a weekend speech at the annual Conservative Political Action Conference.
            But whether she supports a nationwide or statewide ban, Democrats see the issue as a vulnerability for Republicans like Lake.

            "It's so important," said Mini Timmaraju, president of Reproductive Freedom for All. "Reproductive freedom and abortion access is gonna be the tip of the spear."

            On the campaign trail with Gallego, Timmaraju said candidates are seizing on abortion as an opportunity to be proactive on the issue, rather than simply oppose abortion bans.

            Gallego says he'll do away with the Senate's filibuster to codify Roe v. Wade, a position that earned him the endorsement of Reproductive Freedom for All, even though the organization backed Democrat-turned-independent Sen. Krysten Sinema in her last election.

            Sinema has not yet announced if she'll seek reelection.

            "So the perfect thing is you have Ruben [Gallego] at the top of the ticket in the state, Joe Biden and Kamala Harris at the top of the ticket nationally," Timmaraju predicted.

            "We're making this the issue and are being really authentic and bold about the solutions."

            Timmaraju is also banking on a groundswell of support from an expected ballot measure to enshrine abortion rights in Arizona's constitution. So far, it's dovetailed nicely with Gallego's own campaign — while out gathering signatures to qualify Gallego for the ballot, some of his volunteers are also gathering signatures for the abortion ballot measure.

            "Let me tell you, what's more popular than signing for me is the abortion initiative," Gallego quipped.
            But there's still work to be done to tie the ballot measure, and abortion rights as a key issue, to campaigns up and down the ballot.

            Maryse Waldron has been gathering signatures for Gallego and attended the campaign event with Reproductive Freedom for All. While there isn't any one issue that's driving her to support him, she does recognize that the previous warnings of the end of federal protections for abortion rights have come to fruition.

            "What is happening now was foreseen, it was predicted," Waldron said.

            However, she says she's only tentatively supportive of the Arizona ballot initiative.

            "Well, I'm still learning about that," Waldron said. "I will have to read through the entire initiative, but from what I understand, I'm supportive of it."

            Timmaraju acknowledges it's a challenge to thread the issue of abortion rights through multiple campaigns.

            "The hard work is in tying it all together, and making sure folks don't get zoned out from the flood of information that's about to hit a state like Arizona in a presidential contest," she said.

            But Timmaraju said she's encouraged, as are Democrats nationally, that every time abortion has been on the ballot, voters have consistently voted to protect abortion rights.
        </p>
    </div>
</div>

