@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1>A tech billionaire is quietly buying up land in Hawaii. No one knows why</h1>
    <img src="~/Content/img/rev.jpg" alt="">
    <div class="description" style="">
        <p  style="width: 50%; font-size: 20px; line-height: 2.2; width:70%; ">
            WAIMEA, Hawaii — A life-size bronze statue of a cowboy sits at the center of Waimea. The cowboy is riding a horse, lasso in hand, pursuing a wild bull. It's a monument to Ikua Purdy, a hometown hero, who was the first Hawaiian to become a hall-of-fame rodeo roper. This statue is meant to represent the spirit of the place here on Hawaii's Big Island, which is wholly different from the tourist-laden beaches of Waikiki.<br>

            Waimea is primarily an agricultural town with just three stoplights and around 10,000 residents. It has lush forests filled with guava trees and torch ginger, and it's known for being the birthplace of the Hawaiian cowboy, or paniolo. It sits thousands of feet above sea level, where misty winds often blow sideways and, on clear days, give way to expansive views of the island's three towering volcanoes.<br>

            Over the last couple of years, a mystery has been brewing in this small mountain town. Someone has been quietly buying hundreds of acres of land — stirring worries about rising housing prices and speculation among locals about what exactly is going on.<br>

            Waimea is a tightknit community that has a large Native Hawaiian population, and the people here say they don't want to lose that culture.
            Hawaii has long been a place where the world's elite has flocked. And tech billionaires are now among the newest cadre of migrants to buy land in the islands. Amazon founder Jeff Bezos owns a sprawling beach mansion in Maui. Facebook co-founder Mark Zuckerberg has plans to build a bunker on his land in Kauai, according to Wired. Benioff's former boss, Oracle co-founder Larry Ellison, owns 98% of Lanai. And the list goes on.

            This is Our Hawaiʻi
            The billionaires stand in stark contrast to the rest of Hawaii's residents — where on the Big Island specifically, median household income is around $74,000, according to county data.

            What's different here is that rather than focusing on coastal mansions in gated communities, Benioff is buying property in a rural residential town. In the majority of instances, he's paid more than current market value, according to public records. For example, the longtime Mamane Bakery — known for its lilikoi cheesecake and mango-guava hot cross buns — shuttered after he purchased the land for more than 50% above the current market value.

            I spoke with several longtime residents who say they fear that these land buys will add to already sky-high housing costs and that they'll be priced out of Waimea. Some people say a few of his neighbors had been approached about their properties, and Benioff himself says homeowners have come to him about selling.
            While the people of Waimea understand that Benioff is behind the recent land purchases, hardly anyone seems to know his plans. Some guess he's building a Salesforce training center and moving in engineers; others say he's generously donating to the community and helping local schools. Most people just shake their heads.

            "That's kind of how the rumor mill starts, right?" says local Mike Donoho, who works in natural resource planning on the islands. "When there's not clarity or disclosure about what the intentions are of someone purchasing a property or multiple properties, then there's that level of uncertainty. And with those gaps of information, people are filling in the blanks."<br>

            People in Waimea tell me about Benioff's land purchases, but I want to confirm them. Before speaking with him, I start combing through Waimea property maps and cross-checking the data with public records from Hawaii's secretary of state.

            I find that since 2000, Benioff has bought at least 38 parcels of land through at least six anonymous limited liability companies, or LLCs, and one nonprofit. All of the property owned by the LLCs has the same mailing address — a P.O. box in the San Francisco Bay Area — and the same registered agent in Palo Alto, California. None of the documentation has Benioff's name, but he doesn't dispute any of it.

        </p>
    </div>
</div>

