
@{
    ViewBag.Title = "Conmedian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1>Comedian Richard Lewis, who recently starred on 'Curb Your Enthusiasm,' dies at 76</h1>
    <img src="~/Content/img/conmedian.jpg" alt="">
    <div class="description">
        <p style="width: 50%; font-size: 20px; line-height: 2.2; width:70%; ">
            NEW YORK — Richard Lewis, an acclaimed comedian known for exploring his neuroses in frantic, stream-of-consciousness diatribes while dressed in all-black, leading to his nickname "The Prince of Pain," has died. He was 76.

            Lewis, who revealed he had been diagnosed with Parkinson's disease in 2023, died at his home in Los Angeles on Tuesday night after suffering a heart attack, according to his publicist Jeff Abraham.

            A regular performer in clubs and on late-night TV for decades, Lewis also played Marty Gold, the romantic co-lead opposite Jamie Lee Curtis, in the ABC series "Anything But Love" and the reliably neurotic Prince John in "Mel Brooks' Robin Hood: Men In Tights." He re-introduced himself to a new generation opposite Larry David in HBO's "Curb Your Enthusiasm," kvetching regularly.

            "I'm paranoid about everything in my life. Even at home. On my stationary bike, I have a rear-view mirror, which I'm not thrilled about," he once joked onstage. To Jimmy Kimmel he said: "This morning, I tried to go to bed. I couldn't sleep. I counted sheep but I only had six of them and they all had hip replacements."

            Comedy Central named Lewis one of the top 50 stand-up comedians of all time and he earned a berth in GQ magazine's list of the "20th Century's Most Influential Humorists." He lent his humor for charity causes, including Comic Relief and Comedy Gives Back.
            "Watching his stand-up is like sitting in on a very funny and often dark therapy session," the Los Angeles Times said in 2014. The Philadelphia's City Paper called him "the Jimi Hendrix of monologists." Mel Brooks once said he "may just be the Franz Kafka of modern-day comedy."

            Following his graduation from The Ohio State University in 1969, the New York-born Lewis began a stand-up career, honing his craft on the circuit with other contemporaries also just starting out like Jay Leno, Freddie Prinze and Billy Crystal.

            He recalled Rodney Dangerfield hiring him for $75 to fill in at his New York club, Dangerfield's. "I had a lot of great friends early on who believed in me, and I met pretty iconic people who really helped me, told me to keep working on my material. And I never looked back," he told The Gazette of Colorado Springs, Colorado, in 2010.
            Unlike contemporary Robin Williams, Lewis allowed audiences into his world and melancholy, pouring his torment and pain onto the stage. Fans favorably compared him to the ground-breaking comedian Lenny Bruce.

            "I take great pains not to be mean-spirited," Lewis told The Palm Beach Post in 2007. "I don't like to take real handicaps that people have to overcome with no hope in sight. I steer clear of that. That's not funny to me. Tragedy is funny to other humorists, but it's not to me, unless you can make a point that's helpful."

            Singer Billy Joel has said he was referring to Lewis when he sang in "My Life" of an old friend who "bought a ticket to the West Coast/Now he gives them a stand-up routine in L.A."

            1988 Fresh Air interview: Comedian Richard Lewis
            In 1989 at Carnegie Hall, he appeared with six feet of yellow legal sheets filled with material and taped together for a 2½-hour set that led to two standing ovations. The night was "the highlight of my career," he told The Washington Post in 2020.

            Lewis told GQ his signature look came incidentally, saying his obsession with dressing in black came from watching the television Western "Have Gun – Will Travel," with a cowboy in all-black, when he was a kid. He also popularized the term "from hell" — as in "the date from hell" or "the job from hell."

            "That just came out of my brain one day and I kept repeating it a lot for some reason. Same thing with the black clothes. I just felt really comfortable from the early '80s on and I never wore anything else. I never looked back."

            After getting sober from drugs and alcohol in 1994, Lewis put out his 2008 memoir, "The Other Great Depression" — a collection of fearless, essay style riffs on his life — and "Reflections from Hell."

            Lewis was the youngest of three siblings — his brother was older than him by six years, and his sister by nine. His father died young and his mother had emotional problems. "She didn't get me at all. I owe my career to my mother. I should have given her my agent's commission," he told The Washington Post in 2020.
            "Looking back on it now, as a full-blown, middle-aged, functioning anxiety collector, I can admit without cringing that my parents had their fair share of tremendous qualities, yet, being human much of the day, had more than just a handful of flaws as well," he wrote in his memoir.

            Lewis quickly found a new family performing at New York's Improv. "I was 23, and all sorts of people were coming in and out and watching me, like Steve Allen and Bette Midler. David Brenner certainly took me under his wing. To drive home to my little dump in New Jersey often knowing that Steve Allen said, 'You got it,' that validation kept me going in a big, big way."

            He had a cameo in "Leaving Las Vegas," which led to his first major dramatic role as Jimmy Epstein, an addict fighting for his life in the indie film, "Drunks." He played Don Rickles' son on one season of "Daddy Dearest" and a rabbi on "7th Heaven."

            Lewis's recurring role on "Curb Your Enthusiasm" can be credited directly to his friendship with fellow comedian, producer and series star Larry David. Both native Brooklynites — born in the same Brooklyn hospital — they first met and became friends as rivals while attending the same summer camp at age 13. He was cast from the beginning, bickering with David on unpaid bills and common courtesies.

            He is survived by his wife, Joyce Lapinsky.
        </p>
    </div>
</div>

