
@{
    ViewBag.Title = "haland";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1> Haaland had scored only three goals in seven appearances sincey</h1>
    <img src="~/Content/img/haland.jpg" alt="">
    <div class="description">
        <p style="width: 50%; font-size: 20px; line-height: 2.2; width:70%; ">
            LUTON, England, Feb 27 (Reuters) - Erling Haaland roared back to his best form with a five-goal salvo as Manchester City thumped Luton Town 6-2 at Kenilworth Road to reach the quarter-finals of the FA Cup on Tuesday.
            Luton had no answer to the marauding Norwegian who bagged his eighth City hat-trick before halftime and then scored twice more after the break to kill off a stirring Luton revival.
            The 23-year-old Haaland's first four goals were all created by Kevin De Bruyne. Mateo Kovacic also got on the scoresheet for holders City who are unbeaten in 18 games in all competitions.
            Luton did threaten an unlikely comeback when Jordan Clark found the top corner with a sublime effort on the stroke of halftime and netted again early in the second half to make it 3-2. But a strong City side instantly found another gear to cruise into the hat for the last eight.
            The only blemish for City, who face Manchester United in the Premier League on Sunday, was an injury to Jack Grealish who was forced off in the opening period.
            “My fitness is getting back to its best finally,” he said. “I feel good. It’s an amazing feeling.”

            Haaland had scored only three goals in seven appearances since making his comeback on Jan. 31.

            By his remarkable standards, that represented a relative drought, but he looked back to his devastating best at Kenilworth Road with a first-half hat trick and two more after the break. Four of those goals came from assists by Kevin De Bruyne, who has also missed large parts of the season through injury.

            “It’s a pleasure playing with him,” Haaland said. “I think we know what we both want from each other, we look at each other and it clicks well.”

            Mateo Kovacic added a sixth for City, while Jordan Clark struck twice for Luton.

            Haaland was denied a possible double hat trick when he was replaced by Julian Alvarez in the 77th minute. It was the second time City manager Pep Guardiola substituted the striker after scoring five goals, having taken him off during the 7-0 rout of RB Leipzig in the Champions League last year.

            Haaland now has 27 goals in all competitions for the season after scoring 52 in his first year at the club.

            His performance and linkup play with De Bruyne will also fuel the belief City can emulate last season’s treble of trophies when it won the Premier League title, FA Cup and Champions League.

            “We’re coming. Exciting times (are) ahead,” Haaland said.

            The forward completed his hat trick after 40 minutes, having opened the scoring in the third and adding a second in the 18th.

            Clark pulled one back for Luton in the 45th and made it 3-2 with another seven minutes after halftime.

            But Haaland quickly extended City’s lead with further goals in the 55th and 58th.

            Kovacic completed the scoring with a long range effort in the 72nd.

            NEWCASTLE SURVIVES
            Newcastle avoided a potential upset at Blackburn but needed penalties to overcome the second-division team.

            Goalkeeper Martin Dubravka pushed away Dominic Hyam’s spot kick at the end of the shootout to secure a 4-3 win on penalties after the game had finished 1-1 through extra time.

            Anthony Gordon fired Newcastle ahead in the 71st at Ewood Park, but the lead only lasted eight minutes when Sammie Szmodics leveled for Blackburn.

            Saudi-backed Newcastle has endured a troubled season in the league and currently sits 10th in the standings after a fourth-place finish last year.

            But victory over Blackburn means it is still in contention to win its first piece of major domestic silverware since the FA Cup in 1955.

            LEICESTER ADVANCES
            Abdul Fatawu fired Leicester to a 1-0 win over Premier League team Bournemouth with a stunning extra time goal.

            Substitute Fatawu struck in the 105th — curling a shot into the top corner from the edge of the area.

            Leicester won the Cup in 2021 but has slumped since then and was relegated to the second division last season. It is aiming to bounce straight back up and showed its credentials with the win at Bournemouth.
        </p>
    </div>
</div>

