
@{
    ViewBag.Title = "mitch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1>Mitch McConnell will step down as Senate minority leader in November</h1>
    <img src="~/Content/img/gettyimages-1346029354-b9ad2a2e9.jpg" alt="">
    <div class="description">
        <p style="width: 50%; font-size: 20px; line-height: 2.2; width:70%; ">
            Senate Minority Leader Mitch McConnell will step down as Republican leader in November.

            McConnell, of Kentucky, announced his plans in an emotional speech on the Senate floor shortly after aides confirmed his plans to reporters. The move gives McConnell an opportunity to influence the process of selecting the next leader of his party in the Senate at a time of intense divisions within the Republican Party.

            "This will be my last term as Republican leader of the Senate," McConnell said, his voice cracking. "I'm not going anywhere anytime soon, however. I will complete the job my colleagues have given me until we select a new leader in November and they take the helm next January."

            He talked about waiting for a day when he would have total clarity about the end of his work.

            "That day arrived today," McConnell said.

            McConnell said he intends to serve out the rest of his Senate term, which ends in 2027.

            "I still have enough gas in the tank to thoroughly disappoint my critics, and I intend to do so with all the enthusiasm which they have become accustomed," he joked.

            The Kentucky Republican, 82, had faced questions about his health for several months. Most recently, he abruptly froze and seemed unable to speak during two news conferences, in July and August. In March of last year, he fell during a dinner event at a D.C. hotel and spent five days in the hospital. His office said he received treatment for a concussion and spent about a week in inpatient rehab to also address a "minor rib fracture."

            Changes within the Senate GOP
            McConnell's announcement comes at a time when the base of the Republican Party is increasingly rejecting his brand of conservatism. He has consistently clashed with former President Donald Trump — most forcefully after the Jan. 6, 2021, attack on the Capitol — and Trump has in turn bashed McConnell as the "establishment."

            In his floor remarks, McConnell noted that he was first elected to office during the "Reagan Revolution." McConnell loudly rejects the isolationism growing within his party's right wing, urging his conference to provide support to foreign allies and be a leader on the global stage. But his urging was not enough to rally support for the bipartisan package that would have paired assistance to countries like Ukraine and Israel with major border policy reforms, after Trump and those in conservative media soured on it.

            McConnell openly acknowledged the shift within the GOP on foreign policy as he announced his upcoming departure.

            "Believe me, I know the politics within my party at this particular moment in time," he said. "I have many faults. Misunderstanding politics is not one of them.

            "That said, I believe more strongly than ever that America's global leadership is essential to preserving the shining city on a hill that Ronald Reagan discussed.

            The Senate passed a security aid package recently with McConnell's aggressive support, but that bill has languished in the House and the fate of funding for Israel and Ukraine remains unclear.

            President Biden told reporters Wednesday that he was "sorry to hear" of McConnell's departure. Biden — who has negotiated with McConnell as both president and vice president and who served with him in the Senate — said the two men have a "great relationship."

            "We fight like hell, but he never, never, never misrepresented anything," Biden said.

            Who could succeed McConnell?
            The men most likely in line to replace McConnell are often referred to as the "three Johns": Sens. John Thune of South Dakota, John Cornyn of Texas and John Barrasso of Wyoming. All three have endorsed Trump's reelection campaign — something McConnell has neglected to do. If more than one of them decides to run for leader, it could be the first competitive Senate leadership election since the early 1990s.

            Sen. Rick Scott, R-Fla., challenged McConnell for leader after the 2022 midterm elections. So far, Scott has not said whether he intends to vie for the position again.

            McConnell's legacy
            During his tenure as the longest-serving Senate GOP leader, McConnell has helped reshape the federal judiciary and the chamber itself. He is a frequent antagonist to Democratic presidents.

            First elected to the Senate in 1984, McConnell was soon driven by a singular political ambition to become majority leader. A cunning tactician, he worked his way up the ladder, serving as Senate campaign chair and party whip before being elected minority leader in 2007. McConnell became majority leader after Republicans won control of the Senate in 2014, 30 years after he was first elected to the chamber.

            McConnell entered politics toward the liberal side of the Republican Party, supporting abortion rights and union labor, but his politics shifted right under President Ronald Reagan — eventually landing him squarely as a hero of the conservative cause.

            Nowhere was that more evident than the federal bench. McConnell led the successful effort to keep Supreme Court Justice Antonin Scalia's seat vacant after his sudden death in February 2016, denying President Barack Obama's appointee, Merrick Garland, a single hearing. That decision helped Trump secure the White House, propelling white evangelicals to show up for him in higher numbers after he publicly pledged to fill the seat with a conservative. Trump went on to fill that seat with Justice Neil Gorsuch and appointed two more Supreme Court justices during his four years in office. McConnell told The New York Times in 2019 that the Garland decision was "the most consequential thing I've ever done."

            But McConnell's influence extends beyond the high court. During Trump's four years in office, McConnell worked to push through as many conservative judicial nominations as possible while a Republican was in the White House. All told, McConnell helped guide 234 Trump-appointed judicial nominees to the bench in four years, shifting the balance of the judiciary toward conservatives for likely the next generation.
        </p>
    </div>
</div>

