
@{
    ViewBag.Title = "older";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1>Older U.S. adults should get another COVID-19 shot, health officials recommend</h1>
    <img src="/img/b.webp" alt="">
    <div class="description">
        <p style="width: 50%; font-size: 20px; line-height: 2.2; width:70%; ">
            NEW YORK — Older U.S. adults should roll up their sleeves for another COVID-19 shot, even if they got a booster in the fall, U.S. health officials said Wednesday.

            The Centers for Disease Control and Prevention said Americans 65 and older should get another dose of the updated vaccine that became available in September — if at least four months has passed since their last shot. In making the recommendation, the agency endorsed guidance proposed by an expert advisory panel earlier in the day.

            "Most COVID-19 deaths and hospitalizations last year were among people 65 years and older. An additional vaccine dose can provide added protection ... for those at highest risk," CDC Director Dr. Mandy Cohen said in a statement.
            The advisory panel's decision came after a lengthy discussion about whether to say older people "may" get the shots or if they "should" do so. That reflects a debate among experts about how necessary another booster is and whether yet another recommendation would add to the public's growing vaccine fatigue.

            Some doctors say most older adults are adequately protected by the fall shot, which built on immunity derived from earlier vaccinations and exposure to the virus itself. And preliminary studies so far have shown no substantial waning in vaccine effectiveness over six months.

            However, the body's vaccine-induced defenses tend to fade over time, and that happens faster in seniors than in other adults. The committee had recommended COVID-19 booster doses for older adults in 2022 and 2023.

            COVID-19 remains a danger, especially to older people and those with underlying medical conditions. There are still more than 20,000 hospitalizations and more than 2,000 deaths each week due to the coronavirus, according to the CDC. And people 65 and older have the highest hospitalization and death rates.

            Some members of the advisory panel said a "should" recommendation is meant to more clearly prod doctors and pharmacists to offer the shots.
            "Most people are coming in either wanting the vaccine or not," said Dr. Jamie Loehr, a committee member and family doctor in Ithaca, New York. "I am trying to make it easier for providers to say, 'Yes, we recommend this.'"

            In September, the government recommended a new COVID-19 shot recipe built against a version of the coronavirus called XBB.1.5. That single-target vaccine replaced combination shots that had been targeting both the original coronavirus strain and a much earlier omicron version.

            The CDC recommended the new shots for everyone 6 months and older, and allowed that people with weak immune systems could get a second dose as early as two months after the first.

            Most Americans haven't listened. According to the latest CDC data, 13% of U.S. children have gotten the shots and about 22% of U.S. adults have. The vaccination rate is higher for adults 65 and older, at nearly 42%.
            "In each successive vaccine, the uptake has gone down," said Dr. David Canaday, a Case Western Reserve University infectious diseases expert who studies COVID-19 in older people.

            "People are tired of getting all these shots all the time," said Canaday, who does not serve on the committee. "We have to be careful about over-recommending the vaccine."

            But there is a subset of Americans — those at higher danger of severe illness and death — who have been asking if another dose is permissible, said Dr. William Schaffner, a Vanderbilt University vaccines expert who serves on a committee workgroup that has been debating the booster question.

            Indeed, CDC survey data suggests that group's biggest worry about the vaccine is whether it's effective enough.

            Agency officials say that among those who got the latest version of the COVID-19 vaccine, 50% fewer will get sick after they come into contact with the virus compared with those who didn't get the fall shot.

        </p>
    </div>
</div>

