
@{
    ViewBag.Title = "supreme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1>Supreme Court seems torn over bump stock ban</h1>
    <img src="~/Content/img/supreme.jpg" alt="">
    <div class="description">
        <p style="width: 50%; font-size: 20px; line-height: 2.2; width:70%; ">
            The Supreme Court seemed conflicted Wednesday about a federal gun regulation that outlaws so-called bump stocks. These are devices that modify semiautomatic guns, converting them into weapons that fire as many as 600 bullets a minute.
            In 2018, the federal government banned bump stocks for that reason, but gun enthusiasts have challenged the regulation in court, contending that only Congress has the power to enact such a ban.

            Machine guns were developed by the military for battle in the late 1800s, but by the early 1920s they became the weapon of choice for gangsters like Al Capone. In 1934, an alarmed Congress sought to prevent the ongoing terror on the streets by banning automatic weapons. Fast forward to 2017 when a single gunman, using multiple guns that were modified by bump stocks, killed 60 people and wounded 400 others at a Las Vegas concert—all in the space of 11 minutes.

            The carnage was so horrific that President Trump ordered the Bureau of Alcohol, Tobacco, Firearms and Explosives to ban the sale and possession of bump stocks—devices that the ATF now says convert otherwise legal semiautomatic weapons into illegal machine guns.

            The heart of Wednesday's dispute is a highly technical question about how bump stocks work in practice. The government notes that Congress has banned machine guns and machine gun parts. The reason is that while a machine gun can fire hundreds of rounds per minute with just one pull of the trigger, semi-automatic weapons cannot do that—at least not without modifications like the bump stock.
            At today's argument, Justice Neil Gorsuch questioned the notion that the ATF could just change its interpretation of the machine gun law in order to outlaw bump stocks. But Deputy Solicitor General Brian Fletcher pushed back, contending that the law was broadly written to allow for changes in the way guns and gun devices are used.

            In the case of bump stocks, he said, the ATF initially "got that wrong" and now is "fixing it" with a ban on the devices.

            Lawyer Jonathan Mitchell, representing those challenging the regulation, faced quite a grilling from liberals and conservatives alike.

            "The entire way this statute is written suggests that Congress was very aware that there could be small adjustments of a weapon that could get around what Congress meant to prohibit," said Justice Elena Kagan. "At some point you have to apply a little bit of common sense to the way you read a statute and understand that what this statute comprehends is a weapon that fires a multitude of shots with a single human action."

            Justice Brett Kavanaugh observed that Congress, in writing the machine gun ban, did not draw the distinction the challengers are making—between a machine gun and a semiautomatic modified with a bump stock that facilitates rapid fire like a machine gun.

            Justice Clarence Thomas made a similar point to Mitchell, asking, "Why don't you simply then look backwards and say that the nature of the firing mechanism has changed; thus, the nature of the trigger has changed?"

            "What's changed, though, is the rate of fire," replied Mitchell. "And it's still one shot per function of the trigger, even though the shots are coming out of the barrel a lot faster than they were before."

            Justice Samuel Alito, seeking to rescue Mitchell, posed this question: "Can you imagine a legislator thinking we should ban machine guns but we should not ban bump stocks? Is there any reason why a legislator might reach that judgment?"

            Yes, replied Mitchell. "Bump stocks can help people who have disabilities, who have problems with finger dexterity, people who have arthritis in their fingers."

            That answer seemed to gobsmack Justice Sonia Sotomayor.

            A decision in the case is expected by summer.
        </p>
    </div>
</div>

