
@{
    ViewBag.Title = "thefaa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1>The FAA gives Boeing 90 days to fix quality control issues. Critics say they run deep</h1>
    <img src="~/Content/img/dauter.jpg" alt="">
    <div class="description">
        <p style="width: 50%; font-size: 20px; line-height: 2.2; width:70%; ">
            WASHINGTON — When Captain Dennis Tajer gets ready to fly a Boeing 737 Max jet, he brings along something he doesn't need on any other plane: Post-it notes and a marker.

            That's how Tajer reminds himself to turn off the engine anti-icing system. If he forgets, and leaves the anti-icing system running for more than five minutes during dry conditions, the consequences could be catastrophic.

            "The engine could fail and come apart," says Tajer, a veteran pilot for American Airlines, and a spokesman for the union that represents its pilots. "That's pretty ominous."

            To be clear, Tajer insists he can fly the plane safely despite the design flaw in the anti-icing system. He does it all the time.

            But he's lost patience with Boeing.

            "Right now, we don't trust them," Tajer says. "And it's led us to ask, what else you got? Because every time something pops up, we learn that it has tangled roots deep down into the dysfunction of Boeing."
            Federal regulators may be running out of patience as well. The Federal Aviation Administration announced Wednesday that Boeing has 90 days to come up with a plan to fix its quality control issues.

            "Boeing must commit to real and profound improvements," FAA administrator Mike Whitaker said in a statement. "Making foundational change will require a sustained effort from Boeing's leadership, and we are going to hold them accountable every step of the way."

            The announcement comes a day after Whitaker met with Boeing CEO Dave Calhoun and other top company officials.

            "We have a clear picture of what needs to be done," Calhoun said in a statement, and promised to meet the FAA's deadline. "Transparency prevailed in all of these discussions. Boeing will develop the comprehensive action plan with measurable criteria that demonstrates the profound change that Administrator Whitaker and the FAA demand."

            More than just 'a story about missing bolts'
            Since Alaska Airlines flight 1282, a lot of attention has been focused on the door plug that blew off the jet in midair. Investigators at the National Transportation Safety Board say four key bolts that were supposed to hold the door plug in place were missing when the plane left Boeing's factory.

            But the company's critics say the problems with the 737 Max go much deeper than that.
            "It's not a story about missing bolts," says Ed Pierson, a former senior manager at the Boeing factory in Renton, Wash. where it builds the 737 Max jets. Pierson tried to get the company's management to halt production back in 2018 — before two crashes of the 737 Max 8 that killed 346 people — because of what Pierson saw as problems in every stage of the plane's development.

            "From the beginning to the end, it's been rushed," Pierson said, including the plane's design, certification and production. "When you're putting people under that kind of pressure, they make mistakes."

            Pierson is not at Boeing anymore. He now directs a watchdog group called the Foundation for Aviation Safety. But Pierson says he's still hearing about some of the same problems at Boeing's factories. And he still won't fly on a 737 Max jet.

            "We're saying these planes need to be grounded because we're seeing all kinds of aircraft system malfunctions," he said. "New airplanes should not be having problems like this."

            Boeing pledges to slow down
            Pierson is also concerned about the design flaw in the Max's engine anti-icing system that pushed pilot Dennis Tajer to use Post-it notes.

            According to the FAA, Boeing discovered that problem after the Max 8 and 9 were already flying. Last year, Boeing asked regulators for a two-year safety exemption in an effort to speed up certification of two new models — the Max 7 and Max 10 — even though they have the same design flaw.
            But Boeing eventually withdrew that request after the Alaska Airlines incident, and CEO Dave Calhoun said it would focus on developing an engineering fix instead.

            "We will go slow to go fast," Calhoun said on Boeing's earnings call in January. "And we will encourage and reward employees for speaking up to slow things down if that's what's needed."

            Federal regulators take a harder line
            The FAA has already forced Boeing to slow down, capping production of the 737 Max at 38 jets per month. Now regulators have given Boeing a deadline to come up with a plan to improve quality control.

            That plan must incorporate the findings of the FAA's ongoing audit of Boeing's assembly lines and suppliers, the agency said, as well as the recent findings of a panel of outside experts.
            The panel's report, published Monday, found "a disconnect" with respect to safety between Boeing's management and the rest of the organization, and said that employees may be reluctant to raise concerns because they fear retaliation.

            Some of Boeing's critics are glad to see the FAA take a harder line with the plane-maker.

            "They can't even put bolts in," said Michael Stumo, the father of Samya Stumo, who died in a Max crash in 2019. Stumo has heard promises about quality and safety from Boeing's leaders before, and he doesn't trust them.

            "It sounds like they're changing just enough to remain the same," Stumo said.

            Nearly five years after his daughter was killed, Stumo says he is willing to fly. But not on a Boeing Max jet.

            "I would advise people to avoid it," he said. "Go ahead and fly, but avoid the Max."
        </p>
    </div>
</div>

