@model IEnumerable<ProjectNews.Models.EF.News>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <!-- BEGIN news -->
        <div class="news @item.Category.Alias" >
            <ul>
                <li>
                    <img src="@item.Image" alt="">
                    <a href="">@item.Title</a>
                </li>
            </ul>
        </div>
        <!-- END news -->
    }
}
